/* ----------------------------------
 * CHECKBOXES / RADIOS
 * ---------------------------------- */

label:not([for])  {
  display: block;
  vertical-align: middle;
  width: 21rem;
  height: 1.3rem;
  position: relative;
  background: none;
  margin-top: 19px;
}

label:not([for]) input[type="checkbox"],
label:not([for]) input[type="radio"] {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left:-60px;
}

label:not([for]) input + span {
  height: 2.2rem;
    left: 23%;
    margin: -1.1rem 0 0 -2.1rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 7.2rem;
     font-size: 12pt;
}

label:not([for]) input[type="checkbox"] + span {
  background: url(../images/ui/shadow.png) no-repeat right top / 2.2rem auto;
}

label:not([for]) input[type="radio"] + span {
  background: url(../images/radio/default.png) no-repeat right top / 2.2rem auto;
}

label:not([for]) input:checked + span {
  background-position: right bottom;
}

/* 'Dangerous' switches */

label:not([for]).danger input[type="checkbox"] + span {
  background-image: url(../images/check/danger.png);
}

label:not([for]).danger input[type="radio"] + span {
  /*background-image: url(images/radio/danger.png);*/
}


/* ----------------------------------
 * ON/OFF SWITCHES
 * ---------------------------------- */

label input[type="checkbox"][data-type="switch"] + span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.1rem 0 0 -1.7rem;
  width: 3.1rem;
  height: 1.2rem;
  pointer-events: none;
  border: solid 0.1rem #c2c2c2;
  border-radius: 5.4rem 6.4rem 6.4rem 8.4rem;
  overflow: hidden;
  background: url(../images/switch/handler.png) no-repeat -0.2rem center;
  background-size: auto calc(100% + 0.2rem);
  transition: background 0.18s ease;
}

label input[data-type="switch"] + span:after,
label input[data-type="switch"] + span:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width:3.1rem;
  z-index: -1;
  transition: transform 0.2s ease;
}

label input[data-type="switch"] + span:before {
  right: 100%;
  background: #00c3ea url(../images/switch/icon.png) no-repeat 0.5rem center;
  background-size: auto calc(100% - 0.2rem);
}

label input[data-type="switch"] + span:after {
  left: 100%;
  background: #e6e6e6;
  transform: translateX(-3.1rem);
}

/* switch: disabled state */
label input[data-type="switch"]:disabled + span:before,
label input[data-type="switch"]:disabled + span:after {
  opacity: 0.2;
}

label input[data-type="switch"]:disabled + span {
  opacity: 0.3;
}

label input[data-type="switch"]:checked:disabled + span {
  opacity: 1;
  border: solid 1px #A7DBE6;
}

/* 'ON' state */

label input[data-type="switch"]:checked + span {
  border-color: #00acce;
  background-position: 3.2rem center;
}

label input[data-type="switch"]:checked + span:before {
  transform: translateX(3.1rem);
}

label input[data-type="switch"]:checked + span:after {
  transform: translateX(0);
}

label input[type="checkbox"][data-type="switch"].uninit + span,
label input[type="checkbox"][data-type="switch"].uninit + span:before,
label input[type="checkbox"][data-type="switch"].uninit + span:after {
  transition: none;
}
@media screen and (max-width:480px){
  label input[type="checkbox"][data-type="switch"] + span {
     margin: -1.1rem 0 0 -7.7rem;
  }
label:not([for]) input:checked + span {
  background-position:  bottom !important;
}
label:not([for]) input[type="radio"] + span {
  background: url(../images/radio/default.png) no-repeat center top / 2.2rem auto;
}
label:not([for]) input[type="checkbox"] + span {
  background: url(../images/ui/shadow.png) no-repeat right top / 2.2rem auto;
}
}